<small><%= page_entries_info shops %></small>
<hr>
<% shops.each do |shop| %>
<div class="row">
  <div class="col-md-7">
  <h3><%= link_to shop.name, shop, class: "text-warning" %></h3>
  <p>
    <%= shop.address %><br />
    <%= shop.station_name %><br />
    <lebel>営業時間:</lebel>
    <%= shop.open %>
    &nbsp
    <lebel>定休日:</lebel>
    <%= shop.close %>
  </p>
  <% if logged_in? %>
    <% unless current_user.admin? %>
      <%= render 'favorites/favorite_button', shop: shop %>
      <%= link_to new_review_path(id: shop.id), class: 'btn btn-success mt-3' do %>
        <i class="fas fa-pen"></i> レビューを書く
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
<hr>
<% end %>

<%= paginate shops %>

