<div class="row">
  <aside class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
    <div class="text-right">
      <%= link_to edit_user_path(@user) ,class: 'btn btn-success btn-block' do %>
        <i class="fas fa-edit"></i>編集
      <% end %>
    </div>
  </aside>
  <div class="col-sm-9">
    <h3>詳細画面</h3>
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">ユーザー詳細</a></li>
      <li class="nav-item"><a href="<%= reviews_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(reviews_user_path(@user)) %>">レビュー一覧</a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入り一覧</a></li>
    </ul>
    <%= render 'shops/shop_list', shops: @favorite_shops %>
  </div>
</div>