<h3>Pickup</h3>

<div class="row">
  <% @shops.each do |shop| %>
    <div class="card col-sm-3 mb-3">
      <h3 class="card-title pl-2"><%= link_to shop.name, shop, class: "text-warning" %></h3>
      <div class="card-body">
        <p><%= shop.address %></p>
        <p><%= shop.station_name %></p>
        <p>
          <lebel>営業時間:</lebel>
          <%= shop.open %>
        </p>
        <p>
          <lebel>定休日:</lebel>
          <%= shop.close %>
        </p>
      </div>
    </div>
  <div class="offset-sm-1"></div>
  <% end %>
</div>