<header class="mb-4 sticky-top">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">Search Bakery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-bar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start" id="nav-bar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><%= link_to '店舗検索', search_shops_path, class: "nav-link #{ 'active' if current_page?(search_shops_path)}" %></li>
        <li class="nav-item"><%= link_to '店舗一覧', shops_path, class: "nav-link #{ 'active' if current_page?(shops_path)}" %></li>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'ユーザー詳細', user_path(current_user), class: "nav-link #{ 'active' if current_page?(user_path(current_user))}" %></li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to current_user.name, user_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'ログアウト', logout_path, class: 'nav-link', method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'アカウント作成', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>